[user]
	name = tasuten
	email = heliopause64@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	ui = true

[alias]
	amend = commit --amend
	unstage = reset HEAD
[push]
	default = simple
